<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">Student System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/addstudent">Add Student</a>
        </li>

      </ul>
    </div>
  </div>
</nav>





<div class="container mt-5">
<div class="row">
  <h3 class="text-center text-primary mb-4">Student Details</h3>
  <%students.forEach((student)=>{%>
  <div class="col-3">
    <div class="card shadow-lg p-4" style="max-width: 500px; margin: auto;">
          <img src="<%=student.profileImage%>" height="200" alt="img"/>
        <p><strong>Name:</strong> <span id="vName"><%=student.name%></span></p>
        <p><strong>Email:</strong> <span id="vEmail"><%=student.email%></span></p>
        <p><strong>Mobile:</strong> <span id="vMobile"><%=student.mobile%></span></p>
        <p><strong>Gender:</strong> <span id="vGender"><%=student.gender%></span></p>
        <p><strong>DOB:</strong> <span id="vDOB"><%=student.dob%></span></p>
        <p><strong>Course:</strong> <span id="vCourse"><%=student.course%></span></p>
        <p><strong>Date:</strong> <span id="vdate"><%=student.date%></span></p>

        <div class="d-flex justify-content-between mt-4">
            <a href="/editstudent/<%=student.id%>" class="btn btn-warning w-50 me-2">Edit</a>
            <a href="/deletestudent/<%=student.id%>" class="btn btn-danger w-50">Delete</a>
        </div>
    </div>
  </div>
 <% })%>
</div>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</html>